body {
    background: #FFF;
    margin: 0;
    padding: 0;
	font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size:14px;
	line-height:18px;	
}


div.container {
	margin:0 auto;
	text-align:center;
	width:850px;
	padding-top:30px;
}


#head {	
	border-bottom:4px solid #dddddd;
    height: 40px; 
	text-align:right;
} 

p.date {
	font-size:12px;
	color:#dddddd;
	margin-top:-2px;
}

li.date {
	font-size:11px;
	color:#2F4F4F;
	margin-bottom:3px;
	}

li.summary {
	width:450px;
	margin-top:-12px;
	text-align:justify;}


#about {
	width:325px; 
	float:left;
	text-align:left;
	border-left:1px solid #dddddd;
	padding-left:10px;
	margin-top:10px;
	}

#newpost {
	text-align:justify;
	width:600px;
	float:left;
	}

#recents {
	margin-top:10px;
	margin-right:20px;
	text-align:left;
	float:left;
}

ul.posts {
	list-style-type: none;
}

ul.posts li {
	margin-left:-40px;
	line-height:25px;
	
}

ul.other_stuff {
	list-style-type: none;
	}

ul.other_stuff li {
	margin-left:-40px;
	line-height:25px;
	
}

#disqus_thread {
	margin-top:30px;
	border-top:1px solid #dddddd;
	}


#head h1 {
	font-size:15px;
	color:#c60e0e;
	font-style:Georgia, serif;
	text-align:left;
	margin:0 auto;
	float:left;
		
}

ul.links {list-style-type: none;}

ul.links li {margin-left:-40px;}
#text h1 {text-align:left;}

#head a {
	text-decoration:none;
	color:#c60e0e; 
}

#head a:hover{
	color:#dddddd;
	
}

#head ul {
	margin:0; 
	padding:0; 
	list-style-type: none; 
	list-style-image: none;
}

#head li {
	display: inline; 
	margin:0;
	padding-right:10px;
	font-size:15px;	
}


#head li a {
		text-decoration:none;
	 	color:#dddddd; 
}

#head li a:hover {
	color:#c60e0e; 
	}

#head img {
	border:0 none;
	margin:0 none;
}

#main_content {width:630px;}

#main_content h1 {
	font-size:18px;
	text-align:left;
}

h2 {
	font-size:10px;	
}

#main_content a {
	text-decoration:none;
	color:#c60e0e;
	
}

div.what_else {

	
	margin-top: 33px;
	text-align:left;
	margin-left:40px;
	font-size:12px;
	position:fixed;
}

.what_else h2 {
	font-size:15px;
	color:#c60e0e;
	}
ul.what_else {list-style-type: none;} 

ul.what_else li {
	margin-left:-42px;
	padding:7px;
	}

ul.what_else li a {text-decoration:none;}
ul.what_else li a:hover {text-decoration:underline;}

ul.what_else h1 {text-align:left;size:15px;}	

div.what_else img {padding:0; margin-left:-14px;}
	
	
#subset {
	border-bottom:1px solid #dddddd;	
}

#summaries {
	width:575px;
	border-right:1px solid #dddddd;
	float:left;
	margin-top:10px;
	margin-bottom:40px;
}

#summaries a {
	text-decoration:none;
	color:#c60e0e;
}


#summaries a:hover {
	color:#dddddd; 
	}


div.square {
	margin-bottom:15px;
	margin-top:10px;
	margin-right:20px;
	text-align:left;
	float:left;
	width:494px;
}

div.square h2 {font-size:20px;}

.who {font-size:20px;}

#rundown {
	background:#000;
	width:150px;
	float:right;
	
}

#footer {
	height: 30px;
	margin-bottom:30px;
	width:575px;
	
}

#footer h1 {
		font-size:12px;
		color:#dddddd;
		font-style:Georgia, serif;
		text-align:left;
		margin:0 auto;
		
}

#comment_box {
	width:50%;
}

#text img {margin-top:30px; float:left;}

#itin_box {
	
border:2px solid #dddddd;
-moz-border-radius:5px 5px 5px 5px;
-webkit-border:5px 5px 5px 5px;
-moz-box-shadow:2px 2px 4px rgba(0, 0, 0, 0.1);
margin-top:50px;
}

#right {
	float:left;
}
