<!doctype html>

<head> 
	<link type="text/css" rel="stylesheet" href="/css/site.css"> 
	<title>{{ page.title }}</title> 
	
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-17041758-2']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
	
	<script type ="text/javascript">var disqus_developer = 0; 
	</script>
	
</head> 
<body> 
<div class="container"> 
	<div id="head"> 
	<h1><a href="/" title="that's me">TheMarkPhillips</a></h1> 
	<!--
	<ul id="link_list"> 	
	<li><a href="#" title="dollaz"><img src="/images/dollar_currency_sign.png"></a></li> 
	<li><a href="#" title="music"><img src="/images/headphones.png" alt="headphone"></a></li> 
	<li><a href="#" title="la langue"><img src="/images/tongue.jpg"></a></li> 
	<li><a href="#" title="about me"><img src="/images/MrBomb.png" alt="bomb"></a></li> 
	</ul> 
	-->	
	</div> 
	<div id="main_content">	
		<h1>{{ page.title }}</h1> 
	</div> 
	<div id="newpost"> 
	{{ content }}	

	<div id="disqus_thread"></div>
	<script type="text/javascript">
	    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
	    var disqus_shortname = 'themarkphillips'; // required: replace example with your forum shortname

	    // The following are highly recommended additional parameters. Remove the slashes in front to use.
	    // var disqus_identifier = 'unique_dynamic_id_1234';
	    // var disqus_url = 'http://example.com/permalink-to-page.html';

	    /* * * DON'T EDIT BELOW THIS LINE * * */
	    (function() {
	        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
	        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
	        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
	    })();
	</script>
	<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
	</div>
	<div class="what_else">
		<h2>Where To Find Mark</h2>			
		<ul class="links"><li><a href="https://twitter.com/pharkmillups">Twitter</a></li>
		<li><a href="http://www.linkedin.com/pub/mark-phillips/7/b75/255">LinkedIn</a></li>
		<li>email: <strong>mark@basho.com</strong></li>
		</ul>
		<a href="#"><img src="/images/rss_logo.png"></a>
	</div>	
	<div style="clear:both;"></div> 	
	<div id="footer"> 
	<h1>themarkphillips.com is copyright of me, circa now</h1> 
	</div>
</div> 

</body>
